In [1]:
allMarks = [24 44 36;52 57 68;66 53 69;85 40 86;15 47 25;79 72 82]

allMarks =

   24   44   36
   52   57   68
   66   53   69
   85   40   86
   15   47   25
   79   72   82

In [6]:
mecha = [36 76 73 72 28 91]*0.5

mecha =

   18.000   38.000   36.500   36.000   14.000   45.500

In [7]:
allMarks = [allMarks,mecha']

allMarks =

   24.000   44.000   36.000   18.000
   52.000   57.000   68.000   38.000
   66.000   53.000   69.000   36.500
   85.000   40.000   86.000   36.000
   15.000   47.000   25.000   14.000
   79.000   72.000   82.000   45.500

In [13]:
chetan = allMarks(3,:)

chetan =

   66.000   53.000   69.000   36.500

In [30]:
chetan_total_score = sum(chetan)

chetan_total_score =  224.50

In [28]:
sum(allMarks,1) #summation of rows

ans =

   321   313   366   188

In [31]:
sum(allMarks,2) #summation of columns

ans =

   122.00
   215.00
   224.50
   247.00
   101.00
   278.50

In [36]:
allMarks([4,6],1:3)

ans =

   85   40   86
   79   72   82

In [40]:
mean(allMarks) #calculate average marks obtained in each courses

ans =

   53.500   52.167   61.000   31.333

In [39]:
mean(allMarks,2) #calculate average marks obtained by each student

ans =

   30.500
   53.750
   56.125
   61.750
   25.250
   69.625

In [46]:
to_drop = allMarks
to_drop(:,4)=[] #dropping a column

to_drop =

   24.000   44.000   36.000   18.000
   52.000   57.000   68.000   38.000
   66.000   53.000   69.000   36.500
   85.000   40.000   86.000   36.000
   15.000   47.000   25.000   14.000
   79.000   72.000   82.000   45.500

to_drop =

   24   44   36
   52   57   68
   66   53   69
   85   40   86
   15   47   25
   79   72   82

In [49]:
allMarks(:,4) = allMarks(:,4)*2

allMarks =

   24   44   36   36
   52   57   68   76
   66   53   69   73
   85   40   86   72
   15   47   25   28
   79   72   82   91

In [50]:
allMarks = allMarks*0.1

allMarks =

   2.4000   4.4000   3.6000   3.6000
   5.2000   5.7000   6.8000   7.6000
   6.6000   5.3000   6.9000   7.3000
   8.5000   4.0000   8.6000   7.2000
   1.5000   4.7000   2.5000   2.8000
   7.9000   7.2000   8.2000   9.1000

In [4]:
function fibo(n)
a=0;
b=1;
x(:,1)=[1];
for i=2:n
    c=a+b;
    x(:,i)=[c];
    a=b;
    b=c;
endfor
g=sprintf("%d   ",x);
fprintf("Fibonacci sequence:   %s\n",g)
endfunction    

a = 10;
fibo(a)

Fibonacci sequence:   1   1   2   3   5   8   13   21   34   55

In [5]:
function fibo(n)
a=0;
b=1;
x(:,1)=[1];
i=2;
while i<=n
    c=a+b;
    x(:,i)=[c];
    a=b;
    b=c;
    i=i+1;
endwhile
g=sprintf("%d   ",x);
fprintf("Fibonacci sequence:   %s\n",g)
endfunction    

a = 10;
fibo(a)

Fibonacci sequence:   1   1   2   3   5   8   13   21   34   55

In [1]:
# MacLaurin Series calculate this
function Maclaurin
n=5;
x=10
epsilon_s=(0.5*10^(2-n))
epsilon=100
maclaurin(1)=1
iteration=1
while epsilon>epsilon_s
iteration=iteration+1
maclaurin(iteration)=maclaurin(iteration-1)+(x)^(iteration-1)+x^(2+(iteration-1))/factorial(2+(iteration-1))
epsilon=abs((maclaurin(iteration)-maclaurin(iteration-1))/maclaurin(iteration))
end
disp(['number of iterations= ',num2str(iteration)])
disp(['epsilon= ',num2str(epsilon)])

** Warning: Cannot interrupt Octave on Windows

<pexpect.popen_spawn.PopenSpawn object at 0x000002BC390E6448>
searcher: searcher_re:
    0: re.compile('PEXPECT_PROMPT>')
    1: re.compile('\r\n')
<pexpect.popen_spawn.PopenSpawn object at 0x000002BC390E6448>
searcher: searcher_re:
    0: re.compile('PEXPECT_PROMPT>')
    1: re.compile('\r\n')

** Warning: Cannot interrupt Octave on Windows

<pexpect.popen_spawn.PopenSpawn object at 0x000002BC390E6448>
searcher: searcher_re:
    0: re.compile('PEXPECT_PROMPT>')
    1: re.compile('\r\n')
<pexpect.popen_spawn.PopenSpawn object at 0x000002BC390E6448>
searcher: searcher_re:
    0: re.compile('PEXPECT_PROMPT>')
    1: re.compile('\r\n')

In [17]:
v0=20;
g=9.8;
y=0;
t=0;

while y>=0
    y = v0*t - 0.5*g*t^2;
    
    if y<0
        break;
    endif
    
    disp(['At t = ',num2str(t),', location = ', num2str(y)])
    t=t+0.1;
endwhile

At t = 0, location = 0
At t = 0.1, location = 1.951
At t = 0.2, location = 3.804
At t = 0.3, location = 5.559
At t = 0.4, location = 7.216
At t = 0.5, location = 8.775
At t = 0.6, location = 10.236
At t = 0.7, location = 11.599
At t = 0.8, location = 12.864
At t = 0.9, location = 14.031
At t = 1, location = 15.1
At t = 1.1, location = 16.071
At t = 1.2, location = 16.944
At t = 1.3, location = 17.719
At t = 1.4, location = 18.396
At t = 1.5, location = 18.975
At t = 1.6, location = 19.456
At t = 1.7, location = 19.839
At t = 1.8, location = 20.124
At t = 1.9, location = 20.311
At t = 2, location = 20.4
At t = 2.1, location = 20.391
At t = 2.2, location = 20.284
At t = 2.3, location = 20.079
At t = 2.4, location = 19.776
At t = 2.5, location = 19.375
At t = 2.6, location = 18.876
At t = 2.7, location = 18.279
At t = 2.8, location = 17.584
At t = 2.9, location = 16.791
At t = 3, location = 15.9
At t = 3.1, location = 14.911
At t = 3.2, location = 13.824
At t = 3.3, location = 12.639
At t = 3.4, location = 11.356
At t = 3.5, location = 9.975
At t = 3.6, location = 8.496
At t = 3.7, location = 6.919
At t = 3.8, location = 5.244
At t = 3.9, location = 3.471
At t = 4, location = 1.6